@font-face {
  font-family: "Quicksand";
  src: url("../Fonts/Quicksand/static/Quicksand-Regular.ttf");
}

* {
  font-family: "Quicksand", sans-serif;
  color: #4ccce6;
  list-style: none;
  text-decoration: none;
}

body {
  background: #101b20;
  margin: 0 auto;
}
